<!DOCTYPE HTML>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Small Bizz Wizz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html">Small Bizz Wizz</a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="packages.html">Packages</a></li>
					<li><a href="deadlines.html">Deadlines</a></li>
				</ul>
				<ul class="actions stacked">
					<li><a href="#" class="button primary fit">Sign Up</a></li>
					<li><a href="#" class="button fit">Log In</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<div class="content">
						<h2>Small Bizz Wizz</h2>
						<p>Never forget to file your quarterly taxes.</p>
						<p>We remember so you don't have to!</p>
					</div>
					<ul class="actions stacked">
						<li><a href="#" class="button primary major">Get Started</a></li>
						<li><a href="#" class="button major">Log In</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 split">
				<div class="inner">
					<div class="content">
						<h2>My Business is small...<br />
						Why are my taxes different?</h2>
						<p>The Federal Income Tax system is designed to be a pay as you go system. For traditional wage earners that recieve a W-2, withholding is taken out of wages as earned. Small business owners do not receive wages and thus must pay quarterly taxes to be consistent with the system. <a href = "https://www.irs.gov/businesses/small-businesses-self-employed/estimated-taxes" target = "_blank"> Reference </a> </p> 
						<ul class="actions">
							<li><a href="#" class="button">Get Organized Now</a></li>
						</ul> <!--- this will lead right back to get started account creation-->
					</div>
					<div class="image-circles">
						<div class="images">
							<span class="image"><img src="images/coins.jpg" alt="" /></span>
							<span class="image"><img src="images/forms.jpg" alt="" /></span>
						</div>
						<div class="images">
							<span class="image"><img src="images/calc.jpg" alt="" /></span>
							<span class="image"><img src="images/money.jpg" alt="" /></span>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<header class="major">
						<h2>Packages</h2>
						<p>Remembering all the filing requirements for your federal income taxes can be cumbersome.<br> We offer several packages based on how often you need reminders. 
						Please peruse our offerings and select the best one for your business. </p><br />
					</header>
					<div class="features">
						<section>
							<span class="icon solid major fa-tag"></span>
							<h3>Annually</h3>
							<p>We will remind you by December 31st of each year to consolidate all your information for the upcoming filing year. <br>This is great for small businesses that already have an established accounting system utilized throughout the year. </p></br>
						</section>
						<section>
							<span class="icon solid major fa-camera-retro"></span>
							<h3>Semi-Annually</h3>
							<p>You will receive two reminders within the calendar year: June 30th and December 31st. This is for businesses that need a reminder to gather their relevant tax information such as expenses and receipts at the halfway point and end of the year. <br>This is also good for businesses that have an established accounting system but may need a quick reminder at the half year point to stay on top of things. </br> </p>
						</section>
						<section>
							<span class="icon solid major fa-cloud"></span>
							<h3>Quarterly</h3>
							<p>These business will receive reminders that coincide with the required quarterly tax obligations. Reminders will be sent on the following dates: March 31st, June 30th, September 30th and December 31st. These reminder dates represent the end of each quarter and a month before the quarterly filings are due. <a href = "https://www.irs.gov/businesses/small-businesses-self-employed/employment-tax-due-dates" target ="_blank"> reference</a>
							<br> This is good for businesses that may or may not have an established accounting system but want to make sure they are compliant each quarter and want regular established reminders. </br> </p>
						</section>
						<section>
							<span class="icon solid major fa-cube"></span>
							<h3>Monthly</h3>
							<p>These small businesses will receive updates at the end of each month. The reminders will instruct the business owner to aggregate expenses and receipts for the given month. This will be extremely helpful in maintaining accurate and updated records and eliminate the search for old information when it is time to file. 
							</br> This is great for businesses without a formalized accounting system. Monthly reminders will help business owners stay diligent with gathering information needed for quarterly tax compliance. </br> </p>
						</section>
						<section>
							<span class="icon solid major fa-file-alt"></span>
							<h3>Email Reminders</h3>
							<p>SmallBizzWizz will send reminders for up to two emails of your choosing. When you register for your account you may select to add both a main an alternative email account for reminders. If you have a bookkeeper/accountant/assistant the alternative email is a great way to make sure they receive the reminders as well.</p>
						</section>
						<section>
							<span class="icon solid major fa-plane"></span>
							<h3>Text Reminders</h3>
							<p>We know that small business owners are often on the move. Therefore we also offer a text reminder option so that you can receive updates where ever YOU are. Please add the cell phone number where you would like to receive messages when you register for your account.  <i> <strong> Message and data rates may apply. </i></strong> </p>
						</section>
					</div>
					<footer class="major">
						<ul class="actions special">
							<li><a href="#" class="button major">More Features</a></li>
						</ul>
					</footer>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="inner">
					<div class="spotlights">
						<section>
							<span class="image"><img src="images/pic05.jpg" alt="" /></span>
							<div class="content">
								<h2>Expenses Calculator</h2>
								<p>To help you keep up with your expenses, we offer a calculator where you can input information that coincides with the permitted expenses on the Schedule C, Profit or Loss From Business Form.<!--Add React Project Link --> </p>
							</div>
						</section>
						<section>
							<span class="image"><img src="images/pic06.jpg" alt="" /></span>
							<div class="content">
								<h2>Ultrices augue faucibus</h2>
								<p>Donec elementum odio ut suscipit congue. Fusce magna mattis vel fermentum, ultricies et velit. Suspendisse viverra, ante in eleifend vulputate, lacus lorem pretium ligula, tincidunt posuere sapien neque a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
							</div>
						</section>
						<section>
							<span class="image"><img src="images/pic07.jpg" alt="" /></span>
							<div class="content">
								<h2>Integer sed sodales</h2>
								<p>Donec elementum odio ut suscipit congue. Fusce magna mattis vel fermentum, ultricies et velit. Suspendisse viverra, ante in eleifend vulputate, lacus lorem pretium ligula, tincidunt posuere sapien neque a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header>
						<h2>Sed vitae massa curabitur</h2>
						<p>Ipsum quis semper consequat, sem nibh mattis arcu, quis porttitor lorem justo in tellus. Aenean lacinia<br />
						interdum nisl felis et dui viverra, nec accumsan tempus quam ultricies.</p>
					</header>
					<ul class="actions special">
						<li><a href="#" class="button primary major">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Envelope</span></a></li>
					</ul>
					<ul class="contact">
						<li>12345 Somewhere Road</li>
						<li>Atlanta, GA</li>
						<li>(000) 000-0000</li>
					</ul>
					<ul class="links">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<p class="copyright">&copy; Untitled. All rights reserved. Lorem ipsum dolor.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>